body {
  color: blue;
  background-color: #cab8ff;
  font-family: "Courier New", Courier, monospace;
  padding: 30px;
}

span {
  color: rgb(7, 31, 186);
  background-color: beige;
  font-weight: 900;
  padding-left: 2px;
}

h1 {
  border-radius: 15px;
  box-shadow: 10px 10px 10px black;
  background-color: #5d0e6b;
  color: #dcd0ff;
  padding: 20px;
  width: max-content;
}

h2 {
  border-radius: 10px;
  box-shadow: 5px 5px black;
  background-color: #b326cc;
  color: #ffffff;
  padding: 10px;
  width: max-content;
}

h3 {
  border-radius: 5px;
  box-shadow: 2px 2px black;
  background-color: #ffffff;
  color: #4f0073;
  padding: 10px;
  width: max-content;
}
